/* styles/Header.module.css */

.header {
  display: flex;
  justify-content: center;
  height: calc(100vh - 680px); /* Resta el tamaño de tu Navbar */
}

.content {
  text-align: center;
}

.title {
  font-size: 5rem; /* Tamaño grande para el título */
  margin-bottom: 0.5rem; /* Espacio entre el título y el subtítulo */
}

.subtitle {
  font-size: 2.5rem; /* Tamaño del subtítulo */
  color: #666; /* Color gris para el subtítulo */
  margin-bottom: 0%; /* Espacio entre el subtítulo y la imagen */
}
